<div class="col-xs-4 col-md-4 col-md-offset-4 col-xs-offset-1">

<p>
  <strong>Listname:</strong>
  <%= @list.listname %>
</p>

<p>
  <strong>Category:</strong>
  <%= @list.category.cname %>
</p>

<p>
  <strong>Area:</strong>
  <%= @list.area.name %>
</p>

<%= link_to 'Edit', edit_list_path(@list) , class:'btn btn-info col-xs-4 col-xs-offset-1' %>
<%= link_to 'Back', lists_path , class:'btn btn-info col-xs-4 col-xs-offset-1' %>
</div>