<h1>Listing Areas</h1>

<%= link_to areas_path(format: "csv") ,class:'btn pull-right'  do %><span class="glyphicon glyphicon-save">csv</span><span class="filetypes-csv"></span><%end%>
 <%= link_to areas_path(format: "xls"),class:'btn pull-right'  do %><span class="glyphicon glyphicon-save">xls</span><span class="filetypes-csv"></span><%end%>
 <%= link_to areas_path(format: "pdf"),class:'btn pull-right'  do %><span class="glyphicon glyphicon-save">pdf</span><span class="filetypes-csv"></span><%end%>


<table class="table table-stripped table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td><%= area.name %></td>
        <td><%= area.rating %></td>
        <td><%= link_to 'Show', area %></td>
        <td><%= link_to 'Edit', edit_area_path(area) %></td>
        <td><%= link_to 'Destroy', area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Area', new_area_path , class:'btn btn-info btn-block' %>
